.title-modal-common {
    padding: 20px 15px;
    --border-width: 0px !important;
    ion-title {
        font-size: 25px;
    }
}
.content-modal {
    margin-left: 15px;
    margin-right: 15px;
    .sub-title {
        text-align: center;
    }
    .email {}
    .btn-submit {
        float: right;
    }
}
.input-group {
    .item-native {
        border-bottom: 0px !important;
    }
    .label-input {
        display: inline-block;
        width: 150px;
    }
}