<ion-nav component="nav-todo">
  <ion-header translucent>
    <ion-toolbar class="ion-text-center title-todolist">
      <ion-title>{{itemdemo.title}}</ion-title>
      <ion-icon name="add-circle-outline" color="primary" class="icon-common icon-add"></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <div class="content-todo">
                <ion-text class="sub-title">{{itemdemo.sub_title}}</ion-text>
                <ion-text class="des-todo">
                    {{itemdemo.description}}
                </ion-text>
              </div>
            </ion-col>
            <ion-col size="1" class="ion-text-center">
              <ion-icon name="{{itemdemo.icon_edit}}" class="icon-edit icon-common" color="warning"></ion-icon>
            </ion-col>
            <ion-col size="1" class="ion-text-center">
              <ion-icon name="{{itemdemo.icon_detail}}" class="icon-detail icon-common" color="primary"></ion-icon>
            </ion-col>
            <ion-col size="1" class="ion-text-center">
              <ion-icon name="{{itemdemo.icon_delete}}" class="icon-delete icon-common" color="danger"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-nav>