// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.input-common {
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-left: 15px !important;

}
.btn-common {
    width: 120px;
}
.icon-common {
    font-size: 45px;
    font-weight: 600;
}
.text-deco {
    text-decoration: underline;
    cursor: pointer;
}