<ion-header>
  <ion-toolbar>
    <ion-title class="title-profile">Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-text>
        abc
      </ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Username</ion-label>
        <ion-text>
          xyz
        </ion-text>
    </ion-item>
    <ion-item>
        <form (ngSubmit)="changePassword()">
          <p>Change Password</p>
          <ion-list>
            <ion-label>Current Password</ion-label>
            <ion-input type="text" placeholder="" class="input-common"></ion-input>
            <ion-label floating>New Password</ion-label>
            <ion-input type="text" placeholder="" class="input-common"></ion-input>
            <ion-label floating>Confirm new Password</ion-label>
            <ion-input type="text" placeholder="" class="input-common"></ion-input>
            <ion-button class="btn-common" type="submit" color="light">Submit</ion-button>
          </ion-list>
        </form>
    </ion-item>
  </ion-list>      
</ion-content>
<ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-text color="primary" class="text-deco" (click)="presentModal()">Forgot your password?</ion-text>
        </ion-col>
        <ion-col size="6">
            <ion-text color="primary" class="text-deco btn-logout" (click)="logout()">Logout</ion-text>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>